name: deploy react app
on:
  push:
    branches: master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: get repo code
        uses: actions/checkout@v6
      - name: i dep
        run: npm ci
      - name: test
        run: npm run test
      - name: build
        run: npm run build
      - name: lint
        run: npm run lint
      - name: depl
        run: echo deply=oying
