name: deploy react app
on:
  push:
    branches:
      - master
    #paths-ignore:
    #  - ".github/workflows/*"
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: get repo code
        uses: actions/checkout@v6
      - name: cache deps
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: node-modules-${{hashFiles('**/package-lock.json')}}
      - name: i dep
        run: npm ci
      - name: test
        run: npm run test
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: get repo code
        uses: actions/checkout@v6
      - name: cache deps
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: node-modules-${{hashFiles('**/package-lock.json')}}
      - name: i dep
        run: npm ci
      - name: lint
        run: npm run lint
  build:
    needs: [lint, test]
    strategy:
      matrix:
        node-version: [14, 16]
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - name: get repo code
        uses: actions/checkout@v6
      - name: cache deps
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: node-modules-${{hashFiles('**/package-lock.json')}}
      - name: i dep
        run: npm ci
      - name: build
        run: npm run build
      - name: depl
        run: echo deply=oying
